@import "tailwindcss";


@keyframes arrowDown {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(12px);
  }
}

.animate-arrow-down {
  animation: arrowDown 1.5s ease-in-out infinite;
}

html,
body,
#root {
  min-height: 100%;
  background: #000000;
  
}

body {
  margin: 0;
}